#About {
    position: relative;
    height: 1300px;
    width: 100%;
  }

  .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    z-index: 2;
  }
  
  .picture-container {
    flex-shrink: 0;
    top: 200px;
    margin-right: 50px;
    margin-bottom: 20px;
    z-index: 2;
  }
  
  .picture-container img {
    width: 100%;
    max-width: 300px;
    height: 350px;
    border: solid 5px rgba(255, 221, 67);
    border-radius: 50%;

  }
  
  .about-text {
    text-align: justify;
    word-break: break-word;

  }
  
  .aboutDescription {
    font-size: 28px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;


  }
  
  .aboutDescription li {
    margin-bottom: 30px;
    max-width: 900px;
  }


.tools-title{
  font-size: 28px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.containerl {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 180px;
  font-size: 1.2rem;
}

.skill-box{
  padding: 1rem;
  color: #000;
  cursor: pointer;
  z-index: 2;
}

.skill-box:hover{
  padding: 1rem;
  color: #000;
  cursor: pointer;
  transition: transform 0.3s;
  transform: scale(1.2);
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  color: white;
}

.img{
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.img:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  background: regb(100, 100, 100, 0.5);
  border-radius: 45px;

}

.skill-icon{
  width: 55px;
  height: 55px;
  z-index: 2;
}


  @media only screen and (max-width: 680px) {
    #About {
      position: relative;
      height: 1800px;
      width: 100%;
    }

    #About h2 {
        position: static;
        top: 0;
        padding: 0 10px;
        font-size: 50px;
        color: white;
        text-align: center;
        margin-bottom: -100px;
      }
    
    .about-content {
      flex-direction: column;
      align-items: center;
      max-width: 600px;
    }
  
    .picture-container {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .about-text {
      text-align: left;
      margin: 0 auto;
      width: 75%;
    }

    .aboutDescription {
        font-size: 22px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
      }

      .aboutDescription .last-line{
        margin-top: 70px;
      }

      .containerl {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-gap: 1rem;
        padding: 1rem 180px;
        font-size: 1.0rem;
      }

      .img{
        width: 70px;
        height: 70px;
        position: relative;
        border-radius: 45px;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
      }
      
      .img:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 70px;
        background: regb(100, 100, 100, 0.5);
        border-radius: 45px;
      
      }
      
      .skill-icon{
        width: 40px;
        height: 40px;
        z-index: 2;
      }
  }