#About {
    position: relative;
    height: 700px;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    border: 2px solid black;
  }
  
  /*.about-border{
    height: 700px;
    width: 100%;
    background-color: black;
    border: 2px solid black;
    position: absolute;
  }*/
  
#About h2 {
    position: absolute;
    top: 0;
    left: -75px;
    padding: 50px;
    font-size: 50px;
    color: white;
  }

  .about-content {
    display: flex;
    align-items: flex-start;
    margin-top: 200px;
    
  }
  
  .picture-container {
    flex-shrink: 0;
    margin-right: 50px;
  }
  
  .picture-container img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
  }
  
  .about-text {
    flex-grow: 1;
    margin-top: 20px;
    text-align: justify;
    word-break: break-word;
  }
  
  .aboutDescription {
    font-size: 28px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

  .aboutDescription .last-line{
    margin-top: 95px;
  }
  
  .aboutDescription li {
    margin-bottom: 20px;
  }
  
  .skill-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
  }
  
  .icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }
  
  .icon-link img {
    width: 70px;
    height: 70px;
    transition: transform 0.3s;
  }
  
  .icon-link:hover img {
    transform: scale(1.2);
  }
  
  @media only screen and (max-width: 680px) {
    
    #About h2 {
        position: static;
        top: 0;
        padding: 0 10px;
        font-size: 50px;
        color: white;
        text-align: center;
        margin-bottom: -100px;
      }
    
    .about-content {
      flex-direction: column;
      align-items: center;
      max-width: 600px;
    }
  
    .picture-container {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .about-text {
      text-align: left;
      margin: 0 auto;
      width: 75%;
    }

    .aboutDescription {
        font-size: 22px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
      }

      .aboutDescription .last-line{
        margin-top: 70px;
      }

    .skill-line {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        width: 80%;
      }

      .icon-link img {
        width: 50px;
        height: 50px;
        transition: transform 0.3s;
      }
  }