#About {
    position: relative;
    height: 800px;
    width: 100%;
  }
  
  .about-content {
    display: flex;
    align-items: flex-start;
    margin-top: 200px;
  }
  
  .picture-container {
    flex-shrink: 0;
    top: 200px;

  }
  
  .picture-container img {
    width: 100%;
    max-width: 300px;
    height: 350px;
    border: solid 5px rgba(255, 221, 67);
    border-radius: 50%;

  }
  
  .about-text {
    text-align: justify;
    word-break: break-word;

  }
  
  .aboutDescription {
    font-size: 28px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;


  }

  .aboutDescription .last-line{
    margin-top: 95px;
  }
  
  .aboutDescription li {
    margin-bottom: 20px;
    max-width: 900px;
  }
  
  .skill-line {
    left: 400px;
    text-align: center;


    max-width: 100%;

    padding: 15px;
    
    border: 10px;
    border-radius: 20%;

    background-color: rgba(0, 0, 0, 0.5) ;


  }
  
  .skill-icon {
    margin: 15px;
  }
  
  .skill-icon img {
    width: 70px;
    height: 70px;
    transition: transform 0.3s;
  }
  
  .skill-icon:hover img {
    transform: scale(1.2);
  }
  
  @media only screen and (max-width: 680px) {
    
    #About h2 {
        position: static;
        top: 0;
        padding: 0 10px;
        font-size: 50px;
        color: white;
        text-align: center;
        margin-bottom: -100px;
      }
    
    .about-content {
      flex-direction: column;
      align-items: center;
      max-width: 600px;
    }
  
    .picture-container {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .about-text {
      text-align: left;
      margin: 0 auto;
      width: 75%;
    }

    .aboutDescription {
        font-size: 22px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
      }

      .aboutDescription .last-line{
        margin-top: 70px;
      }

    .skill-line {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        width: 80%;
      }

      .icon-link img {
        width: 50px;
        height: 50px;
        transition: transform 0.3s;
      }
  }