#Contact {
    position: relative;
    margin-bottom: 200px;
    width: 100%;
  
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
  }
  
  .contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .email {
    font-size: 24px;
    margin-bottom: 50px;
    color: white;
  }
  
  .contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #333;
    margin: 0 40px;
    text-decoration: none;
    transition: opacity 0.3s ease;
  }
  
  .contact-icon i {
    color: #fff;
    font-size: 90px;
  }
  
  .contact-icon:hover {
    opacity: 0.8;
  }

  @media only screen and (max-width: 800px) {
  
    #Contact h2 {
        position: static;
        text-align: center;
        margin-left: 70px;
        font-size: 50px;
        color: white;
      }

    .contact-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #333;
        margin: 0 40px;
        text-decoration: none;
        transition: opacity 0.3s ease;
      }
      
      .contact-icon i {
        color: #fff;
        font-size: 50px;
      }
}